<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.zongzi.com</string>
    <key>connections</key>
    <dict/>
    <key>createdby</key>
    <string>zong</string>
    <key>description</key>
    <string>zen tools</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>zen</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>x</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"
</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Update available: 1.0.0 → 0.1.7. Run `npm install -g zen`</string>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>27CE01BC-49D5-4C17-801B-DA5D4BCCB983</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>27CE01BC-49D5-4C17-801B-DA5D4BCCB983</key>
      <dict>
        <key>xpos</key>
        <integer>205</integer>
        <key>ypos</key>
        <integer>155</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string/>
  </dict>
</plist>